nav {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

    .navbar {
        padding: $nav-padding;
        color: $light-color;
        min-height: $nav-height;
        @include flex-between;
        align-items: center;
    }

    .logo img {
        max-width: 120px;
    }

    .nav-menu {
        @include list-reset;
        position: absolute;
        top: 65px;
        left: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        li {
            text-align: center;
            padding: ($navItem-padding * 2);
        }
        &.active{
            background-color: rgba(0, 0, 0, 0.9);
            height: calc(100vh - 65px);
            z-index: 1;
        }
        a{
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
            color: $light-color;
            transition: all 0.8s ease-in-out;
            border-bottom: 1px solid transparent;
            &:hover {
               color: $nav-hover-color; 
               border-bottom: 1px solid $nav-hover-color;
            }
        }
    }
    .nav-icon i.lni {
        font-size: 20px;
    }

    @include mq($screen-md-min) {
        background-color: rgba(0, 0, 0, 0.3);

        .logo img {
            max-width: 180px;
        }
        
        .nav-icon{
            display: none;
        }
        .nav-menu {
            width: auto;
            display:flex;
            justify-content: flex-end;
            position: static;
            height: auto;

            li, &.active{
                background-color: transparent;
                height: auto;
            }
            
        }
    }
}

